<h1>Booking information:</h1>
<%= form_with model: @booking do |form| %>
  <%= form.hidden_field :flight_id, :value => @booked_flight.id %>
  <%= form.hidden_field :passenger_count, :value => @passenger_count %>
  <p>Date: <%= @booked_flight.start_time_formatted %></p>
  <p>Departure: <%= @booked_flight.departure_airport.code %></p>
  <p>Arrival: <%= @booked_flight.arrival_airport.code %></p>
  <p>Flight ID: <%= @flight_id %></p>
  <%= form.fields_for :passengers do |person| %>
    <%= person.label :name, "Name:" %>
    <%= person.text_field :name %>
    <br><%= person.label :email, "Email Address:" %>
    <%= person.text_field :email %><br>
  <% end %>
  <%= form.submit "Submit" %>
<% end %>
